/* CSSTidy 1.5.5: Tue, 23 Feb 2021 13:23:52 +0000 */.ninja-forms-form-wrap *,.ninja-forms-form-wrap :after,.ninja-forms-form-wrap :before{box-sizing:border-box}
a.tooltip{outline:none;text-decoration:none}
a.tooltip strong{line-height:30px}
a.tooltip:hover{text-decoration:none}
a.tooltip span{z-index:10;display:none;padding:14px 20px;margin-top:-10px;margin-left:28px;width:240px;line-height:16px;z-index:1;position:relative}
a.tooltip span:before{border-top:10px solid transparent;border-right:15px solid #ccc;border-bottom:10px solid transparent;content:"";position:absolute;left:-15px}
a.tooltip:hover span{display:inline;position:absolute;color:#333;border:1px solid #ccc;background:#f1f1f1}
/*CSS3 extras*/a.tooltip span{border-radius:4px;box-shadow:5px 5px 8px #CCC}
#ui-datepicker-div{background:#f1f1f1;border-radius:3px}
#ui-datepicker-div a{text-decoration:none;cursor:pointer}
#ui-datepicker-div .ui-datepicker-header,#ui-datepicker-div .ui-datepicker-calendar th,#ui-datepicker-div .ui-datepicker-calendar td{padding:5px;text-align:center}
#ui-datepicker-div .ui-icon{text-indent:0}
.ui-datepicker-prev{float:left}
.ui-datepicker-next{float:right}
.ninja-forms-no-display{display:none}
.ninja-forms-form .wp-switch-editor{height:auto}
.ninja-forms-form .mceiframecontainer{background:#fff}
.ninja-forms-req-symbol{color:red}
.ninja-forms-form .label-above label,.ninja-forms-form .label-below label{display:block}
.field-wrap,#ninja_forms_required_items{margin-bottom:20px}
#pass-strength-result{background-color:#eee;border-color:#ddd!important;border-style:solid;border-width:1px;margin:13px 5px 5px 1px;padding:3px 5px;text-align:center;width:200px}
#pass-strength-result.bad{background-color:#ffb78c;border-color:#ff853c!important}
#pass-strength-result.good{background-color:#ffec8b;border-color:#fc0!important}
#pass-strength-result.short{background-color:#ffa0a0;border-color:#f04040!important}
#pass-strength-result.strong{background-color:#c3ff88;border-color:#8dff1c!important}
.ninja-forms-cont{position:relative}
.ninja-forms-cont:after{clear:both;content:"";display:block}
.ninja-forms-field-error{color:red}
.ninja-forms-form-wrap input,.ninja-forms-form-wrap select,.ninja-forms-form-wrap textarea{width:auto;height:auto;vertical-align:inherit}
.ninja-forms-form-wrap label{font-weight:700}
.ninja-forms-form-wrap .list-checkbox-wrap ul label,.ninja-forms-form-wrap .list-radio-wrap ul label{font-weight:400}
.field-wrap:after{clear:both;content:"";display:block}
.field-wrap.label-left .ninja-forms-field,.field-wrap.label-left .ninja-forms-star-rating-control{margin-left:8px}
.field-wrap.label-right .ninja-forms-field,.field-wrap.label-right .ninja-forms-star-rating-control{margin-right:8px}
.field-wrap.label-right label,.field-wrap.label-left label{display:inline}
.label-above label{margin-bottom:5px}
.multifile-wrap{display:inline-block}
/* ---------------------------------
TEXT FIELDS & TEXTAREAS
----------------------------------*/.text-wrap.label-left input,.profile_pass-wrap.label-left input,.textarea-wrap.label-left textarea{margin-left:10px}
.text-wrap.label-right input,.profile_pass-wrap.label-right input,.textarea-wrap.label-right textarea{margin-right:10px}
.text-wrap.label-above label,.textarea-wrap.label-above label{display:block;width:100%}
.profile_pass-wrap input,.text-wrap.label-above input,.text-wrap.label-below input,.text-wrap.label-inside input,.textarea-wrap.label-above textarea,.textarea-wrap.label-below textarea,.textarea-wrap.label-inside textarea,.list-dropdown-wrap.label-above select,.list-dropdown-wrap.label-below select{width:100%}
.textarea-wrap textarea{height:200px}
.profile_pass-wrap input{margin-bottom:10px}
/* ---------------------------------
RADIO & CHECKBOX LISTS
----------------------------------*/.list-radio-wrap span ul li input,.list-checkbox-wrap span ul li input{margin-right:5px}
.list-radio-wrap span ul,.list-checkbox-wrap span ul{list-style:none;margin:0;padding:0}
.list-radio-wrap span ul li,.list-checkbox-wrap span ul li{list-style:none}
.list-radio-wrap span ul li,.list-checkbox-wrap span ul li{margin:0;padding:0}
.list-radio-wrap.label-left label,.list-radio-wrap.label-left ul,.list-radio-wrap.label-left ul li,.list-radio-wrap.label-right label,.list-radio-wrap.label-right ul,.list-radio-wrap.label-right ul li,.list-checkbox-wrap.label-left label,.list-checkbox-wrap.label-left ul,.list-checkbox-wrap.label-left ul li,.list-checkbox-wrap.label-right label,.list-checkbox-wrap.label-right ul,.list-checkbox-wrap.label-right ul li{float:left}
.rtl .list-radio-wrap.label-left label,.rtl .list-radio-wrap.label-left ul,.rtl .list-radio-wrap.label-left ul li,.rtl .list-radio-wrap.label-right label,.rtl .list-radio-wrap.label-right ul,.rtl .list-radio-wrap.label-right ul li,.rtl .list-checkbox-wrap.label-left label,.rtl .list-checkbox-wrap.label-left ul,.rtl .list-checkbox-wrap.label-left ul li,.rtl .list-checkbox-wrap.label-right label,.rtl .list-checkbox-wrap.label-right ul,.rtl .list-checkbox-wrap.label-right ul li{float:right}
.list-radio-wrap.label-left ul li,.list-radio-wrap.label-right ul li,.list-checkbox-wrap.label-left ul li,.list-checkbox-wrap.label-right ul li{padding:0 8px}
.list-radio-wrap.label-above ul li,.list-radio-wrap.label-below ul li,.list-checkbox-wrap.label-above ul li,.list-checkbox-wrap.label-below ul li{padding:0 0 0 10px}
/* ---------------------------------
MULTI FIELD
----------------------------------*/.list-multi-wrap.label-left label{float:left}
.list-multi-wrap.label-right select{float:left}
/* ---------------------------------
CREDIT CARD BLOCK
----------------------------------*/.credit_card-wrap div label,.credit_card-wrap div input{display:block;width:100%}
.credit_card-wrap div{margin-bottom:10px}
.credit_card-wrap div span{font-size:.8em}
/* ---------------------------------
HONEYPOT
----------------------------------*/.hp-wrap{display:none}
.honeypot-wrap{display:none}/* CSSTidy 1.5.5: Tue, 23 Feb 2021 13:23:52 +0000 *//*! qTip2 - Pretty powerful tooltips - v2.0.0 - 2012-12-21
* http://craigsworks.com/projects/qtip2/
* Copyright (c) 2012 Craig Michael Thompson; Licensed MIT, GPL *//* Core qTip styles */.qtip,.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px;direction:ltr}
.qtip-content{position:relative;padding:5px 9px;overflow:hidden;text-align:left;word-wrap:break-word}
.qtip-titlebar{position:relative;padding:5px 35px 5px 10px;overflow:hidden;border-width:0 0 1px;font-weight:700}
.qtip-titlebar + .qtip-content{border-top-width:0!important}
/* Default close button class */.qtip-close{position:absolute;right:-9px;top:-9px;cursor:pointer;outline:medium none;border-width:1px;border-style:solid;border-color:transparent}
.qtip-titlebar .qtip-close{right:4px;top:50%;margin-top:-9px}
* html .qtip-titlebar .qtip-close{top:16px}
/* IE fix */.qtip-titlebar .ui-icon,.qtip-icon .ui-icon{display:block;text-indent:-1000em;direction:ltr;vertical-align:middle}
.qtip-icon,.qtip-icon .ui-icon{border-radius:3px;text-decoration:none}
.qtip-icon .ui-icon{width:18px;height:14px;text-align:center;text-indent:0;font:normal bold 10px/13px Tahoma,sans-serif;color:inherit;background:transparent none no-repeat -100em -100em}
/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */.qtip-focus{}
/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */.qtip-hover{}
/* Default tooltip style */.qtip-default{border-width:1px;border-style:solid;border-color:#F1D031;background-color:#FFFFA3;color:#555}
.qtip-default .qtip-titlebar{background-color:#FFEF93}
.qtip-default .qtip-icon{border-color:#CCC;background:#F1F1F1;color:#777}
.qtip-default .qtip-titlebar .qtip-close{border-color:#AAA;color:#111}
/*! Light tooltip style */.qtip-light{background-color:#fff;border-color:#E2E2E2;color:#454545}
.qtip-light .qtip-titlebar{background-color:#f1f1f1}
/*! Dark tooltip style */.qtip-dark{background-color:#505050;border-color:#303030;color:#f3f3f3}
.qtip-dark .qtip-titlebar{background-color:#404040}
.qtip-dark .qtip-icon{border-color:#444}
.qtip-dark .qtip-titlebar .ui-state-hover{border-color:#303030}
/*! Cream tooltip style */.qtip-cream{background-color:#FBF7AA;border-color:#F9E98E;color:#A27D35}
.qtip-cream .qtip-titlebar{background-color:#F0DE7D}
.qtip-cream .qtip-close .qtip-icon{background-position:-82px 0}
/*! Red tooltip style */.qtip-red{background-color:#F78B83;border-color:#D95252;color:#912323}
.qtip-red .qtip-titlebar{background-color:#F06D65}
.qtip-red .qtip-close .qtip-icon{background-position:-102px 0}
.qtip-red .qtip-icon{border-color:#D95252}
.qtip-red .qtip-titlebar .ui-state-hover{border-color:#D95252}
/*! Green tooltip style */.qtip-green{background-color:#CAED9E;border-color:#90D93F;color:#3F6219}
.qtip-green .qtip-titlebar{background-color:#B0DE78}
.qtip-green .qtip-close .qtip-icon{background-position:-42px 0}
/*! Blue tooltip style */.qtip-blue{background-color:#E5F6FE;border-color:#ADD9ED;color:#5E99BD}
.qtip-blue .qtip-titlebar{background-color:#D0E9F5}
.qtip-blue .qtip-close .qtip-icon{background-position:-2px 0}/* CSSTidy 1.5.5: Tue, 23 Feb 2021 13:23:52 +0000 *//* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */.rating-cancel,.ninja-forms-star-rating{float:left;text-indent:-999em}
.rating-cancel,.rating-cancel a{background:url(https://weblog-info.com/wp-content/plugins/ninja-forms/deprecated/images/delete.gif?x92710) no-repeat 0 -16px}
.ninja-forms-star-rating a{background:url(https://weblog-info.com/wp-content/plugins/ninja-forms/deprecated/images/star.gif?x92710) no-repeat 0 0}
.rating-cancel a,.ninja-forms-star-rating a{background-position:0 0;border:0;cursor:pointer;display:block;margin-right:2px;width:17px;height:15px;overflow:hidden}
.ninja-forms-star-rating-on a{background-position:0 -16px}
.ninja-forms-star-rating-hover a{background-position:0 -32px}
.rating-cancel a:hover{background-position:0 -32px}
/* Read Only CSS */.ninja-forms-star-rating-readonly a{cursor:default!important}
/* Partial Star CSS */.ninja-forms-star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */.ninja-forms-star-rating-control{display:inline-block}
.ninja-forms-star-rating-control:after{clear:both;content:"";display:block}